# Object and binary files
*.o
*.bin
*.iso
*.elf
*.img
*.vmdk

# Build folders
bootloader/grub-*
bootloader/limine*
*.tar.*
bootloader/BOOTX64.EFI
applications/bin
applications/lib
kernel/bin
kernel/lib
glibc
mnt

# Logs
*.log

# Batch files
*.bat

# vscode stuff
*.code-workspace
*.vscode
