set root=(hd0,msdos1)
set gfxpayload=keep
set gfxmode=1920x1080x32
insmod gfxterm
insmod efi_gop
insmod efi_uga
set background_image=/boot/grub/grubbg.jpg
insmod part_msdos
menuentry "dioOS (Normal Boot)" {
    multiboot2 /boot/kernel.elf
    module2 /fonts/vga16.psf
    boot
}

menuentry "dioOS (Debug)" {
    multiboot2 /boot/kernel.elf "debug=1"
    module2 /fonts/vga16.psf
    boot
}